<ion-view class="background" title="CONNEXION">
    <ion-content padding="true">
        <div class="connexion">
          <div class="list list-inset">
            <label class="item item-input">
            <i class="icon ion-ios-email placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Email ou Pseudo">
            </label>
            <label class="item item-input">
            <i class="icon ion-ios-locked placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Mot de passe">
            </label>
          </div>
        </div>
        <span class="textconnexion">Mot de passe oublié ?</span>
        <div style="padding-left: 15px;padding-right: 15px">
        <button class="button button-small button-block boutonconnexion">
          CONNEXION
        </button>
        <button class="button button-small button-block icon-left ion-social-facebook boutonfacebook" style="margin-bottom: 15px;margin-top: 30px">Connectez-cous avec Facebook</button>
        <button class="button button-small button-block icon-left ion-social-googleplus-outline boutongoogle">Connectez-cous avec Google</button>
        </div>
    </ion-content>
</ion-view>