<ion-view class="background" title="INSCRIPTION">
    <ion-content padding="true">
        <div class="connexion">
          <div class="list list-inset">
            <label class="item item-input">
            <i class="icon ion-person placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Pseudo">
            </label>
            <label class="item item-input item-select">
            <i class="icon ion-transgender placeholder-icon" style="font-size: 20px;"></i>
              <div class="input-label">
                Lightsaber
              </div>

              <select>
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
              </select>
            </label>
            <label class="item item-input">
            <i class="icon ion-ios-email placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
            <i class="icon ion-ios-email placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Confirmer votre email">
            </label>
            <label class="item item-input">
            <i class="icon ion-ios-locked placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Mot de passe">
            </label>
            <label class="item item-input">
            <i class="icon ion-ios-locked placeholder-icon" style="font-size: 20px;"></i>
              
              <input type="text" placeholder="Confirmer votre Mot de passe">
            </label>
          </div>
        </div>
        
        <div style="padding-left: 15px;padding-right: 15px;margin-top: 30px;">
        <button class="button button-small button-block boutonconnexion">
          INSCRIPTION
        </button>
        <button class="button button-small button-block icon-left ion-social-facebook boutonfacebook" style="margin-bottom: 15px;margin-top: 30px">Inscrivez-vous avec Facebook</button>
        <button class="button button-small button-block icon-left ion-social-googleplus-outline boutongoogle">Inscrivez-vous avec Google</button>
        </div>
    </ion-content>
</ion-view>