<ion-view class="background" title="PARAMETRES">
    <ion-content>
        <div class="list parametre" >

		  <a class="item item-icon-right" href="#">
		    <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
		    <span style="font-size: 14px;">Se Connecter / se deconnecter</span>
		  </a>

		  <a class="item item-icon-right item-icon-right" href="#">
		    <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
		    <span style="font-size: 14px;">Partage de l'application avec vos amis</span>
		    
		  </a>

		  <a class="item item-icon-right">
		    <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
		    <span style="font-size: 14px;">Nous contactez / centre d'aide</span>
		  </a>

		  <a class="item item-icon-right">
		    <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
		    <span style="font-size: 14px;">Confidentialité</span>
		  </a>

		  <a class="item">
		   
		    <span style="font-size: 14px;">Version de l'application</span>
		    <span class="item-note" style="margin-right: 10px;">
		      1.0
		    </span>
		  </a>

		</div>
		

    </ion-content>
</ion-view>