<ion-view class="background" title="RECETTES">
	<ion-header-bar class="bar-light bar-subheader" style="border:0px;">
      	
		  <label class="item item-input" style="border:1px solid #CC542F;height: 35px;margin-top: -3px;width: 92%;margin-left: 4%;border-radius: 2px;box-shadow: 0 0 5px #CC542F;">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Rechercher une recette">
		  </label>
		
    </ion-header-bar>
    <ion-content>
        
		<div class="favoris" style="margin-top: -20px;">
			<div class="row" style="margin-bottom: -55px;">
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>


			</div>
			<div class="row" style="margin-bottom: -55px;">
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>


			</div>
			<div class="row" style="margin-bottom: -55px;">
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>


			</div>
			<div class="row" style="margin-bottom: -55px;">
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>


			</div>
			<div class="row" style="margin-bottom: -55px;">
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>
				<div class="col-50">
					<div class="list card">

					  <div class="item item-image">
					    <img src="img/pizza.jpg">
					  </div>

					  <div class="item item-divider">
					    oignons-caramelises<br>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-star" style="color: #E1A531"></i>
					    <i class="icon ion-ios-star-half" style="color: #E1A531"></i>
					    <i style="color: grey;font-size: 8px;">16/20 ( 25 votes )</i>
					  </div>

					</div>
					
				</div>


			</div>
		</div>

    </ion-content>
    
</ion-view>